# fixcan-auc_sql

In [7]:
import openpyxl, pprint
import pandas as pd
import numpy as np
from collections import Counter
import os
import shutil

import selenium
# from modules_scraping import readTxt_submitAuc_mod as submitAuc
# import urllist_bs4_yahoo_prices3 as ubyp
# from modules_scraping import downFile_ebay as downFile
import time
import glob
from pathlib import Path
# from modules_scraping import upFile_ebay as upFile
# このファイル自身で実行する時は「from modules_scraping」要らない。
from selenium import webdriver
import xlwings as xw
from xlwings.constants import AutoFillType
from selenium.common.exceptions import NoSuchElementException

from selenium.webdriver.chrome.options import Options
# import chromedriver_binary

from sqlalchemy import create_engine

In [8]:
# down_csv()
# atk = r"C:/Users/Kazuki Yuno/Desktop/00.Myself/04.Buyer/1.利益計算/AtackList_Buyer43.xlsx"

connection_config = {
    'host': 'ec2-54-210-128-153.compute-1.amazonaws.com',
    'database': 'd5evq9s0k3ah3p',
    'user': 'tdmhdafruvebzx',
    'port': '5432',
    'password': '2b49dd7bf409cc17dfd288cf43faf04eef06e800e17fe2cab498191ac8b6373e'
}
global engine
engine = create_engine(
    'postgres://tdmhdafruvebzx:2b49dd7bf409cc17dfd288cf43faf04eef06e800e17fe2cab498191ac8b6373e@ec2-54-210-128-153.compute-1.amazonaws.com:5432/d5evq9s0k3ah3p'.
        format(**connection_config))

atk = pd.read_sql('atklist4', con=engine) #, columns=['タイトル'])
# main(atk)

In [9]:
df2 = atk[['現在価格','即決価格','SKU','ID']].iloc[:10,:]
df2

,現在価格,即決価格,SKU,ID
0,None,"30,000",4b70-9866-b80d8dc65ac1-q417924807-202011-2919-...,q417924807
1,None,"45,000",4161-827b-9582a530e60e-v762566053-202011-2919-...,v762566053
2,None,"30,000",4433-9dbf-83576ae6a853-b517635196-202011-2919-...,b517635196
3,None,"35,000",4f5a-9a92-e8d245953454-r426867713-202011-2919-...,r426867713
4,,"11,000",4e8f-b9c4-a9c2ddb9d3fe-l654381503-202012-1517-...,l654381503
5,,"12,000",45ee-89e5-c5d756b1da9d-b525873450-202012-2010-...,b525873450
6,None,"34,800",41b3-9188-bf4cbd345718-g474882493-202011-2919-...,g474882493
7,None,"13,000",41d1-b98c-6545b0c005b4-t762904371-202011-2919-...,t762904371
8,None,"4,800",4f23-95f3-5b99ba81a962-e474239730-202011-2919-...,e474239730
9,None,"50,000",4078-8185-e98138c8a549-k515718009-202011-2919-...,k515718009

In [10]:
# df2 = df2.
for index, row in df2.iteritems():
#     print(index)
    print(row)

0    None
1    None
2    None
3    None
4
5
6    None
7    None
8    None
9    None
Name: 現在価格, dtype: object
0     30,000
1     45,000
2     30,000
3      35,000
4      11,000
5      12,000
6      34,800
7      13,000
8       4,800
9      50,000
Name: 即決価格, dtype: object
0    4b70-9866-b80d8dc65ac1-q417924807-202011-2919-...
1    4161-827b-9582a530e60e-v762566053-202011-2919-...
2    4433-9dbf-83576ae6a853-b517635196-202011-2919-...
3    4f5a-9a92-e8d245953454-r426867713-202011-2919-...
4    4e8f-b9c4-a9c2ddb9d3fe-l654381503-202012-1517-...
5    45ee-89e5-c5d756b1da9d-b525873450-202012-2010-...
6    41b3-9188-bf4cbd345718-g474882493-202011-2919-...
7    41d1-b98c-6545b0c005b4-t762904371-202011-2919-...
8    4f23-95f3-5b99ba81a962-e474239730-202011-2919-...
9    4078-8185-e98138c8a549-k515718009-202011-2919-...
Name: SKU, dtype: object
0    q417924807
1    v762566053
2    b517635196
3    r426867713
4    l654381503
5    b525873450
6    g474882493
7    t762904371
8    e474239730
9    k515718009
Name: ID, dtype: object

In [12]:
for row in df2.iteritems():
    
    現在価格 = row['現在価格']  #sheet1.cell(row=rowNum, column=48).value
    即決価格 = row['即決価格'] # sheet1.cell(row=rowNum, column=50).value
    
    # 列                                         # AV=48番目の列のデータを格納
    if str(現在価格 or 即決価格).isnumeric():  # AV列の数字でない行のタイトル列=6の値を、リストに加える。そしてCSVのタイトルと比較
        continue  # pass的に使える。skip              # 英訳タイトルはE=５列
    # sold_titles = sheet1.cell(row=rowNum, column=6).value)
    titleSold_list.append(row['SKU']) #sheet1.cell(row=rowNum, column=3).value)  # 3列目＝SKU

TypeError: tuple indices must be integers or slices, not str

TypeError: string indices must be integers